body {
	background: #C27B68;
	margin: 0px;
	font-family: 'Nunito', sans-serif;
    align-items: center;
    margin: 10%;
    align-items: center;
}

h1{
    font-size: 50px;
}

#container{
    width: 70%;
    margin-left: 15%;
}
.option{
    font-size: 15px;
    text-align: center;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    width: auto;
    border: 0px;
    border-radius: 15px;
}
#options{
    margin-bottom: 50px;
}

.navigate{
    margin: auto;
	box-sizing: border-box;
	background: #C27B68;
	color: white;
    border-color: white;
	border: 2px solid white;
	border-radius: 5px;
	padding: 15px;
    width: 100%;
	display: block;
}