

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

main{
    top: 50px;
    height: 100vh;
    display: flex;
    grid-template-columns: 40% 60%;
}

header{
    display: flex;
    flex-flow: row;
    align-items: left;
    background-color:#D3B6AC ;
    height: 50px;
    justify-content: space-between;
}

header h3{
    margin-right: 40px;
    align-self: center;
}

header .button{
    height: 75%;
    margin-top: 5px;
    margin-left: 10px;
    width: 100px;
    border: 0px;
    border-radius: 15px;
}


/* Daily Journal CSS */
#dailyJournal{
    background-color: #FFF1EF;
    height: 100vh;
    width: 40%;
}

    #dailyJournal #title{
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: bottom;
    margin-left: 3%;
    }
    #dailyJournal #title #date{
    margin-left:20px;
    }
    #dailyJournal #input{
    margin: auto;
    margin-left: 3%;
    margin-right:3%;
    margin-bottom: 20px;
    padding: 2px;
    padding-bottom: 5px;
    height: 50px;
    bottom: 10px;
    }
        #dailyJournal #inputBox{
        width: 97%;
        margin: 0%;
	    display: block;
	    border: 2px solid #ccc;
        height: 30px;
        }
        #dailyJournal #type{
        width: 35%;
        }
        #dailyJournal #category{
        width: 39%;
        }
        #dailyJournal #inputButton{
        width: 20%;
        background-color: #D3B6AC;
        border: 0px;
        padding:2px;
        }
    #dailyJournal #scrollable{
        height: 67%;
        overflow-y: scroll;
        margin-top: 0px;
        margin-bottom: 10px;
    }

.goal_container{
    background-color:#D9D9D9;
    margin: auto;
    margin-top: 10px;
    padding: 4%;
    width: 80%;
}
.achievement_container{
    background-color:#FAD0C4;
    margin: auto;
    margin-top: 10px;
    padding: 4%;
    width: 80%;
}
.note_container{
    background-color:#DBCEE6;
    margin: auto;
    margin-top: 10px;
    padding: 4%;
    width: 80%;
}
.deleteButton{
    margin-left: 80px;
    text-align: end;
    margin-right:0px;
    width: 25px;
    color:rgb(131, 130, 130);
    overflow: hidden;
}
.doneButton{
    margin-left: 20px;
    text-align: end;
    margin-right: 15px;
    width: 25px;
    color: rgb(131, 130, 130);
    overflow: hidden;
}

/* Historial Journal CSS */
#historicalJournal{
    background-color: white;
    height: 97%;
    width: 100%;
}

#sidebar_button{
    background-color: #F1E9E1;
    margin-top: 0px;
    border-width: 2px;
    border-radius: 5px;
    border-color:#EBEBEB;
}
    #historicalJournal #entriesByDate{
        width: 100%;
        height: 100%;
        flex-direction:column;
    }
        #entriesByDate h1{
            width: 100%;
            margin-left:5%;
            margin-top: 0px;
        }
        #entriesByDate #header{
        width: 100%;
        margin-top: 0px;
        margin-left:5%;
        height: 7%;
        display: flex;
        justify-content: left;
        flex-flow: row;
        align-items: left;
        background-color: white;
        }
        #entriesByDate #header .button{
            height: 90%;
            width: 150px;
            margin-right: 10px;
            box-sizing: border-box;
            border-color: #EBEBEB;
            border-radius: 5px;
            border-width: 3px;
            background: rgb(239, 237, 237);
        }
        
        #entriesByDate .grid-item {
            background-color: #F3F6F0;
            border: 0px;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            width: auto;
            border:0px;
          }
        #entriesByDate .add-item{
            background-color: #F3F6F0;
            border: 0px;
            text-align: center;
            height: 250px;
            width: auto;
            border: 0px;
            padding: 20px;
            font-size: 60px;
        }
        #entriesByDate .grid-container {
            display: grid;
            margin-left: 3.5%;
            margin-right: 5%;
            height: 90%;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto auto;
            background-color: white;
            padding: 10px;
            overflow-y: scroll;
          }
    #historicalJournal #calendar{
        width: 100%;
        height: 100%;
        background-color: blue;
    }

    #historicalJournal #guides h1{
        width: 100%;
        margin-left:5%;
        margin-top: 0px;
    }
    #historicalJournal #guides{
        width: 100%;
        height: 100%;
        background-color: white;
    }
    .guide {
        background-image: linear-gradient(red, yellow);
        border: 0px;
        padding: 20px;
        font-size: 30px;
        text-align: center;
        height: 250px;
        width: auto;
        border:0px;
      }


    #historicalJournal #game{
        width: 100%;
        height: 100%;
        background-color: yellow;
    }



